@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pattaya&family=Sen&display=swap');


/* font-family: 'Oleo Script', cursive;

font-family: 'Pattaya', sans-serif;

font-family: 'Sen', sans-serif;
 */


*{
/* font-family: 'Poppins', sans-serif; */
font-family: 'Sen', sans-serif;
margin:0; padding:0;
box-sizing: border-box;
text-decoration: none;
outline: none; border:none;

}
html{
font-size: 62.5%;
overflow-x: hidden;
}


.head-container{
    color: White;
    width: 100vw;
    /* min-height: 40vh; */
    background: rgb(123,45,208);
    background: linear-gradient(180deg, rgba(123,45,208,1) 0%, rgba(172,122,226,1) 100%);
    padding: 0.8rem 3%;
}
.navbar img{
    max-width: 2.5rem;
}
.navbar h1{
    color: white;
    font-size: 2.5rem;
    display: inline-block;
}

.navbar h1 span{
    font-family: 'Pattaya', sans-serif;
    font-weight: 100;
    font-size: 2.8rem;
    padding-right: 1rem;
  }
.navbar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbar-logos img{
    margin: 0 0.8rem 0;
    color: white;
    
}
.head-container .flex{
    padding-top: 2rem;
    align-items: center;
    display: flex;
    font-family: 'Sen', sans-serif;
}

.head-container .flex .image img{
    max-width: 100%;
}
.head-container .flex .text .title{
    font-size: 2.4rem;
    margin-bottom: 3rem;
    padding-right: 2rem;
}

.head-container .flex .text .content{
    font-size: 1.6rem;
    
}

.all-brands{
    margin:  5%;
}
.all-brands h1{
    margin: 4rem auto;
    text-align: center;
   
}
.all-brands-logo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
}
.all-brands-logo img{
    max-width: 6rem;
}
.more-button {
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }
/*                          * Features */


.features {
    text-align: center;
    padding:5% 7%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.feature-box img{
    max-width: 50%;


}
.feature-box h2{
    font-size: 2rem;
    margin-top: 1.5rem;

}
.feature-box p{
    font-size: 1.6rem;

}

/*                          * media queries */
@media (min-width : 680px) {
    .all-brands-logo{
        
        gap: 4rem;
    }
    .all-brands-logo img{
        max-width: 8rem;
    }
    .more-button {
        padding: 1rem 2rem;
        
      }
    
}

@media (min-width : 1012px) {

    .features {
        text-align: center;
        padding:5% 7%;
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }
}


/* ************ Product Page CSS **********/

.product-image-container {
    text-align: center;
    margin-top: 5rem;
}
  
  
  
  